<div class="navbar container grid">
  <div class="navitem navfirst">
    <p>
      Now: <%= @temperature_summary[:temperature_now] %> C° /
      Low: <%= @temperature_summary[:low] %> C° / 
      High: <%= @temperature_summary[:high] %> C°
     </p>
  </div>
  <div class="navitem">
       <p>
      <%= render :partial => 'weather_icon', locals: { weather: weather.first } %>
     </p>
  </div>
  <div class="navitem" id="time">
      <%= render :partial => 'clock' %>
  </div>
  <div class="navitem">
     <p> Hamburg, DE </p>
  </div>
</div>