<%= render :partial => 'navbar', locals: { weather: @temperature_summary } %>

<div class="banner"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.9)), url(<%= asset_path "transportation_types/#{@response[:mode_of_transportation]}.jpg" %>)">
  <div class="container">
    <h1>Today you should take the </h1>
    <h1 class="underline">///// <%= @response[:mode_of_transportation] %></h1>
    <h1>and wear a</h1>
    <h1>/// <%= @response[:choice_of_clothing] %></h1>
  </div>
</div>

<div class="cards">
    <% @response[:weather].each do |weather| %>
        <%= render :partial => 'weather_card', locals: { weather: weather } %>
    <% end %>
</div>